@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.header {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(37, 37, 108);
  background-color: rgb(240, 243, 246);
  height: 9rem;

}

.icon {
  margin-left: 4em;
  margin-right: .5em;


}